@{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Glasgow Caledonian University<br />
        Cowcaddens Road<br/> 
        Glasgow<br />
        G4 0BA<br />
        Scotland, United Kingdom<br />
    </address>

    <address>
        <strong>Euan Bruce:</strong>   <a href="mailto:ebruce204@caledonian.ac.uk">ebruce204@caledonian.ac.uk</a><br />
        <strong>Steven Walters:</strong> <a href="mailto:s.walters@gcu.ac.uk">s.walters@gcu.ac.uk</a>
    </address>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



